#calendar-tbody ul {
    margin-bottom: 0;
}

.content-calender {
    min-height: 902px;
    width: 970px;
    padding: 26px 19px 19px;
    background-color: #fff;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.calendar {
    /* width: 100%; */
    width: 930px;
    /* font-size: 16px; */
    color: #666;
    /* box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 0.3); */
    display: none;
    position: absolute;
}

.calendar-show {
    display: block;
}

.calendar .calendar-header {
    padding: 0 20px;
    height: 40px;
    background: #FFF;
    /* text-align: center; */
    font-weight: bold;
    font-size: 34px;
    color: #333333;
    line-height: 34px;
    position: relative;
}

.calendar .btn {
    text-decoration: none;
    font-size: 20px;
    color: indianred;
    width: 20px;
    height: 40px;
    line-height: 40px;
}

.calendar .btn-prev {
    /* float: left; */
    display: inline-block;
    width: 50px;
    height: 32px;
    background: url('../images/shangyue.png');
    background-size: cover;
    margin: 0 9px;
    position: relative;
    top: -2px;
}

.calendar .btn-next {
    /* float: right; */
    display: inline-block;
    width: 50px;
    height: 32px;
    background: url('../images/xiayue.png');
    background-size: cover;
    margin: 0 9px;
    position: relative;
    top: -2px;
}

.calendar .calendar-header .nyr {
    width: 204px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #666666;
}

.calendar .calendar-header .nyr>span {
    display: inline-block;
    width: 62px;
    height: 36px;
    background: #F8F8F8;
    color: #666666;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: center;
}

.calendar .calendar-header .nyr>span:first-child {
    margin-right: 12px;
}

.calendar .calendar-header .nyr .nyractive {
    background: #C13939;
    color: #F4DEDE;
}

.calendar .calendar-body {
    margin-top: 25px;
}

.calendar .calendar-body>.table {
    border: 2px solid #DDDDDD;
    border-radius: 20px;
    overflow: hidden;
}

.calendar .calendar-body .table {
    width: 100%;
    border-collapse: collapse;
    /* text-align: center; */
    height: 798px;
    font-size: 16px;
}

.calendar .calendar-body .table .thead {
    height: 46px;
    line-height: 46px;
    background-color: #F1F1F1;
    font-size: 20px;
    color: #666666;
    text-align: center;
}

.calendar .calendar-body .table .rilitd {
    height: 125px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    position: relative;
}

.calendar .calendar-body table .rilitd>span {
    position: absolute;
    top: 5px;
}

.calendar .calendar-body table .rilitd>ul {
    position: absolute;
    top: 25px;
}

.calendar .calendar-body table .rilitd>div {
    position: absolute;
    bottom: 5px;
    right: 0;
    color: #C44141;
    font-size: 10px !important;
}

.allcount {
    position: relative;
    left: 55px;
}

#datepicker {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 240px;
    height: 24px;
    line-height: 24px;
}

#datepicker:focus {
    outline: 0 none;
    border: 1px solid #1abc9c;
}

.thead-tr>.thead-th {
    text-align: center;
    border: 1px solod rgba(red, green, blue, 0);
}

.calendar-week {
    background: #F8F8F8;
}

.calendar-today {
    position: absolute;
    right: 0;
    top: 0;
}

.thead-tr::before {
    clear: both;
}

.thead-th {
    float: left;
    width: calc(100%/7.01);
}

#calendar-tbody {
    position: relative;
    top: -2px;
}

#calendar-tbody .tbody-ul::before {
    clear: both;
}

#calendar-tbody .tbody-ul>li {
    float: left;
    width: calc(100%/7.001);
}

.today-item {
    text-align: center;
    display: inline-block;
    background: #C13939;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.calendar-select {
    background: #FFF0F0;
}

.calender-active {
    border: 2px #C13939 solid !important;
}

.calender-list {
    height: 78px;
    overflow: hidden;
}

.calender-list li {
    position: relative;
    color: #C13939;
    padding-left: 20px;
    margin-bottom: 5px;
    height: 34px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

#calendar-tbody a {
    color: #C13939;
}

.calendar-select a {
    color: #C13939;
}

.calendar-select a:hover {
    color: #C13939;
}

.select-color {
    color: #C13939;
}

.text-left {
    float: left;
}

.text-right {
    float: left;
}

.calend-four:before {
    content: "•";
}

.dian {
    position: absolute;
    left: 5px;
    top: 0px;
}