html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    font-size: 14px;
    padding-top: 60px;
    /* padding-top: 83px !important; */
    /* margin-bottom: 64px; */
}

.main {
    width: 1400px;
    margin: 0 auto;
}


/* .clear-float {
    clear: both;
    display: inline-block;
} */

.clear-float::after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

section {
    width: 100%;
}

.is-center-section>div {
    width: 1080px !important;
    margin: 0 auto;
}

a {
    text-decoration: none !important;
}

body {
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: pingguo, "Microsoft Yahei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

div,
header,
footer,
nav,
section,
aside,
article,
ul,
dd,
li,
a,
p,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: pingguo, "Microsoft Yahei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body:focus,
div:focus,
header:focus,
footer:focus,
nav:focus,
section:focus,
aside:focus,
article:focus,
ul:focus,
dd:focus,
li:focus,
a:focus,
p:focus,
dl:focus,
dt:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
i:focus,
b:focus,
textarea:focus,
button:focus,
input:focus,
select:focus,
figure:focus,
figcaption:focus {
    outline: none;
}

.form-control:focus {
    border-color: #e14c46 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(225, 76, 70, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(225, 76, 70, 0.6) !important;
}

.btn-default:focus,
.btn-default.focus {
    outline: 0 !important;
}

.detail-common-title {
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    cursor: pointer;
    user-select: none;
    padding: 50px !important;
    padding-bottom: 40px !important;
}

.detail-common-title>p {
    width: 120px;
    margin: 0 auto;
    position: relative;
}

.detail-common-title>p::after {
    content: ' ';
    position: absolute;
    width: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    background-color: #333333;
    margin-bottom: -4px;
}


/* 头部 */

.common-header {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.header-main {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header-main-left {
    float: left;
    width: 670px;
    height: 100%;
}

.header-main-left img {
    width: 100px;
    margin-top: 12px;
    float: left;
}

.header-main-left .tab a {
    display: block;
    float: left;
    line-height: 83px;
    margin-left: 35px;
    color: #333 !important;
    text-decoration: none;
}

.header-main-left a:hover {
    color: #e14c46;
}

.header-main-left .input-group {
    width: 350px;
    float: left;
    margin-top: 25px;
    margin-left: 50px;
}

.header-main-right {
    width: 400px;
    height: 100%;
    float: right;
    text-align: right;
    line-height: 83px;
    position: relative;
}

.header-main-right>span {
    position: relative;
    margin-left: 25px;
    margin-right: 5px;
    ;
    cursor: pointer;
}

.header-main-right>span:hover {
    color: #e14c46;
}

.header-main-right>span a:hover {
    color: #e14c46;
}

.header-main-right>span>img {
    width: 20px;
    margin-right: 5px;
}

.header-main-right>span>a {
    color: #333;
    text-decoration: none;
}

.header-main-right>span::after {
    content: ' ';
    width: 1px;
    height: 15px;
    background-color: #cccccc;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 15px;
}

.header-main-right>span:last-child::after {
    width: 0px;
}

.minipro-code {
    width: 183px;
    height: 202px;
    position: absolute;
    z-index: 20000;
    right: 0;
    clear: both;
    margin-top: 50px !important;
    margin-right: 15px !important;
    padding-top: 15px;
    display: none;
}

.minipro-code>div {
    width: 183px;
    height: 190px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    text-align: center;
    position: relative;
    padding-top: 10px;
}

.minipro-code>div>img {
    position: absolute;
    z-index: 3000;
    right: 0;
    left: 0;
    margin: auto;
    width: 150px;
    height: 150px;
}

.minipro-code>div>p {
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 35px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.minipro-code>div::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
    margin-top: -5px;
}


/* banner */

.banner {
    /* margin-top: 60px; */
    height: 500px;
    width: 100%;
}

.swiper-container {
    height: 500px;
    width: 100%;
}

.swiper-slide {
    height: 500px;
    width: 100%;
}

.banner-img {
    height: 500px;
    display: block;
    background: center center no-repeat;
    background-size: cover;
    background-image: url('../images/banner/banner1pc.jpg');
}

.banner-img2 {
    height: 500px;
    display: block;
    background: center center no-repeat;
    background-size: cover;
    background-image: url('../images/banner/banner2pc.jpg');
}

.banner-img3 {
    height: 500px;
    display: block;
    background: center center no-repeat;
    background-size: cover;
    background-image: url('../images/banner/banner3pc.jpg');
}

.banner-img4 {
    height: 500px;
    display: block;
    background: center center no-repeat;
    background-size: cover;
    background-image: url('../images/banner/banner4pc.jpg');
}


/* .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 20px;
    height: 6px;
    border-radius: 0;
    opacity: 0.5;
    background: #FFFFFF;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 40px;
    opacity: 1;
} */

.pagination2 {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 20px;
    height: 6px;
    border-radius: 0;
    opacity: 0.5;
    background: #FFFFFF;
    margin: 0 4px;
}

.swiper-active-switch {
    width: 40px;
    opacity: 1;
}


/* search */

.search {
    background: #F1F1F1;
    width: 1400px;
    min-height: 84px;
    padding: 0 100px;
    padding-top: 21px;
}

.search-text {
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.search-lf {
    float: left;
    line-height: 42px;
    margin-right: 9px;
}

.search-inp {
    line-height: 42px;
    height: 40px;
    float: left;
}

.search-inp input {
    border: 1px solid #DDDDDD;
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    background-color: #fff;
    width: 390px;
    height: 42px;
    padding-left: 8px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #999999 !important;
}

.search-inp button {
    background: #C13939;
    border: 1px solid #DDDDDD;
    border-radius: 0 2px 2px 0;
    width: 102px;
    height: 42px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: relative;
    display: block;
    margin-left: -1px;
    float: left;
}

.city {
    float: right;
    font-family: PingFangSC-Regular;
    position: relative;
}

.city-left {
    float: left;
    font-size: 16px;
    color: #333333;
    height: 42px;
    line-height: 42px;
    width: 67px;
}

.city-right {
    float: left;
    font-size: 16px;
    color: #333333;
    height: 42px;
    line-height: 42px;
}

.city-right a {
    font-size: 16px;
    padding: 4px 9px;
    line-height: 16px;
    cursor: pointer;
}

.city-right a:hover {
    color: #C13939;
}

.city-a-active {
    background: #C13939;
    color: #fff !important;
    border-radius: 2px;
}

.selsect-item {
    display: none;
}

.prev {
    -webkit-tap-highlight-color: transparent
}


/* city-panal */

.city-panal {
    width: 526px;
    position: absolute;
    top: 40px;
    /* height: 211px; */
    padding: 10px;
    background: #F1F1F1;
    border: 1px solid #999999;
    display: none;
    z-index: 99;
}

.a-item {
    color: #333;
}

.city-centent {
    position: relative;
    /* border: 1px solid #D8D8D8; */
}

.city-close {
    position: absolute;
    right: 0;
    top: 0;
}

.city-nav-item {
    display: block;
    float: left;
    padding: 10px 15px;
    border: 1px solid #D8D8D8;
    /* border-top: none; */
    border-right: none;
    cursor: pointer;
}

.city-nav .city-nav-item:last-child {
    border-right: 1px solid #D8D8D8;
}

.city-nav-item-active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.city-close::before {
    content: "\2716";
}

.city-hide-item {
    display: none;
}

.city-list {
    clear: left;
    overflow: hidden;
    padding: 22px 19px;
    min-height: 150px;
    background: #fff;
    margin-bottom: 0;
    border: 1px solid #D8D8D8;
    border-top: none;
}

.border-close {
    border-left: none;
}

.city-list li {
    float: left;
    padding: 8px 13px;
    cursor: pointer;
}

.city-list li:hover {
    color: #C13939;
}


/* 使用webkit内核的浏览器 */

::-webkit-input-placeholder {
    color: #999999;
}


/* Firefox版本4-18 */

:-moz-placeholder {
    color: #999999;
}


/* Firefox版本19+ */

::-moz-placeholder {
    color: #999999;
}


/* IE浏览器 */

:-ms-input-placeholder {
    color: #999999;
}

.search-fdj {
    position: absolute;
    top: 58%;
    left: 15px;
    transform: translateY(-50%);
}


/* 中间内容 */


/* 左边导航栏 */

.main-content {
    /* width: 1400px;
    padding: 0 100px; */
    background: #F8F8F8;
    /* min-height: 775px; */
}

.content {
    /* margin: 0 auto; */
    /* padding: 30px 100px 0; */
    width: 1400px;
    padding: 30px 100px 0;
    background: #F8F8F8;
    margin: 0 auto;
}

.content-left {
    float: left;
}

.active-chose-title {
    width: 170px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #C13939;
    border-radius: 0 0 4px 4px;
    position: relative;
}

.active-text {
    color: #fff;
    font-size: 18px;
    margin-left: 22px;
}

.active-list-icon {
    transform: rotate(90deg);
}

.active-chose-icon {
    width: 18px;
    height: 19px;
    display: inline-block;
    background: url(../images/shaixuan.png)no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 36px;
    top: 22px;
}

.checkbox-common {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #F1F1F1;
    border: 1px solid #D8D8D8;
    border-radius: 2.5px;
}

.industry-icon {
    width: 12px;
    height: 9px;
    background: url('../images/xiala_sx.png')no-repeat center center;
    background-size: 100%;
    display: inline-block;
}

.inputs {
    /* visibility: hidden; */
    display: inline-block;
}

.active-list .inputs::before {
    display: inline-block;
    content: '';
    visibility: visible;
    height: 14px;
    width: 14px;
    background: #F1F1F1 !important;
    border: 1px solid #D8D8D8;
    border-radius: 2.5px;
    position: relative;
    top: -2px;
}

.active-list .inputs:checked+label::before {
    content: '\2714';
    visibility: visible;
    height: 14px;
    width: 14px;
    color: #fff;
    background-color: #C13939 !important;
    border: 1px #C13939 solid;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    background-size: 1rem 1rem;
    position: absolute;
    left: 0;
    z-index: 999;
}

.active-list-category {
    margin-bottom: 10px;
    font-size: 14px;
}

.active-list-category-item {
    padding-left: 17px;
}

.active-list-category-item>div {
    margin-bottom: 10px;
}

.active-list-category-item label {
    margin-left: 6px;
    font-size: 12px;
    color: #999999;
}

.active-line-common {
    width: 20px;
    height: 1px;
    opacity: .5;
    margin-bottom: 4px;
    display: inline-block;
    background: #fff;
    border-radius: 4px;
}

.active-list-box {
    padding-top: 24px;
    background: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
}


/* 底部信息 */

.main-footer {
    width: 100%;
    height: 64px;
    background-color: #333333;
}

.main-footer>div {
    width: 1080px;
    max-width: 1080px;
    min-width: 1080px;
    height: 100%;
    margin: 0px auto;
    line-height: 64px;
    color: #6c6b69;
}

.main-footer>div>span>a {
    text-decoration: none;
    color: #6c6b69;
    margin-right: 4px;
}

.main-footer>div>span:nth-child(2) {
    margin-left: 50px;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    z-index: 100;
}


/* 活动详情头部 */

.active-detail-header {
    height: 430px;
    padding-top: 80px;
}

.sign-over {
    border-color: #aaaaaa !important;
    background-color: #aaaaaa !important;
    color: #ffffff !important;
}

#activeDetai {
    background: url('../img/detailup.jpg') no-repeat;
    background-size: 100% 100%;
}

.active-detail-header .cover-img {
    width: 500px;
    height: 250px;
    background-color: red;
    box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.active-detail-header .cover-img:hover>img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.active-detail-header .cover-img>img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    /*ease-out 减速、慢慢结束*/
    -webkit-transition: all 0.3s ease-out;
}

.active-detail-header .detail-info {
    width: 560px;
    height: 250px;
    float: right;
    padding-top: 10px;
}

.detail-info>p:first-child {
    width: 100%;
    height: 100px;
    font-size: 26px;
    line-height: 35px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    cursor: pointer;
}

.detail-info>p:first-child:hover {
    color: #e14c46;
}

.detail-info>p>img {
    width: 18px;
    margin-right: 5px;
    margin-top: -4px;
}

.detail-info>p:nth-child(2) {
    margin-bottom: 5px;
}

.detail-info>p:nth-child(2),
.detail-info>p:nth-child(3) {
    font-size: 18px;
    line-height: 23px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.detail-info>p:last-child {
    margin-top: 20px;
}

.detail-info>p:last-child>span {
    display: inline-block;
    width: 189px;
    height: 46px;
    border-radius: 30px;
    border: 2px solid rgba(153, 153, 153, 1);
    cursor: pointer;
    text-align: center;
    line-height: 43px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.detail-info>p:last-child>span:active {
    opacity: 0.8;
}

.detail-info>p:last-child>span:first-child {
    border-color: #e14c46;
    background-color: #e14c46;
    color: #ffffff;
    margin-right: 5px;
}

.lookzhibo {
    border-color: #e14c46 !important;
    background-color: #e14c46 !important;
    color: #ffffff !important;
    display: none;
}


/* 通知信息 */

.tongzhi-pannel {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
}

.main-tongzhi {
    width: 350px;
    height: 160px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    border-radius: 5px;
    overflow: hidden;
}

.tongzhi-bottom {
    width: 100%;
    height: 60px;
    border-top: 1px solid #dedede;
}

.tongzhi-bottom>div {
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    cursor: pointer;
}

.tongzhi-bottom>div:first-child {
    float: left;
}

.tongzhi-bottom>div:last-child {
    float: left;
    background-color: #e14c46;
    color: #ffffff;
}

.tongzhi-up {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
}


/* 发现活动列表 */

.search-active-list {
    width: 100%;
    min-height: 300px;
}

.search-active-list-item {
    width: 100%;
    height: 220px;
    border-bottom: 1px solid #cccccc;
    padding: 40px 10px;
    display: block;
}

.search-active-list-item>div {
    display: inline-block;
    vertical-align: top;
    height: 139px;
}

.search-active-list-item-cover {
    width: 278px;
}

.search-active-list-item-cover>img {
    width: 100%;
    height: 100%;
}

.search-item-content {
    width: 670px;
    padding: 10px;
    padding-left: 20px;
}

.small-content {
    width: 400px !important;
}

.search-item-content>p:first-child {
    width: 100%;
    height: 70px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 23px;
}

.search-item-content>p:nth-child(2),
.search-item-content>p:nth-child(3) {
    width: 100%;
    height: 25px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(136, 136, 136, 1);
    line-height: 25px;
}

.search-item-content>p:nth-child(2)>img,
.search-item-content>p:nth-child(3)>img {
    width: 18px;
    margin-top: -3px;
}

.search-btn-pannel {
    width: 100px;
    padding-left: 13px;
    padding-top: 100px;
}

.search-btn-pannel>p {
    display: block;
    width: 87px;
    height: 34px;
    border-radius: 5px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-btn-pannel .go-detail {
    background: rgba(225, 76, 70, 1);
    color: rgba(255, 255, 255, 1);
}

.search-btn-pannel .go-detail:active {
    background: rgba(225, 76, 70, 0.8);
}

.search-btn-pannel .go-look {
    background: #cccccc;
    color: rgba(255, 255, 255, 1);
}

.search-btn-pannel .go-look:active {
    opacity: 0.8;
}

.empty-pannel {
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 100px;
}

.empty-pannel>img {
    width: 160px;
    height: 140px;
    margin-bottom: 20px;
}

.empty-pannel>p:nth-child(2) {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 10px;
}

.empty-pannel>p:nth-child(3) {
    width: 110px;
    height: 34px;
    background: rgba(225, 76, 70, 1);
    border-radius: 5px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
    user-select: none;
    cursor: pointer;
}


/* 通用的头部 */

.comon-header-top {
    height: 322px;
    background: url('../img/xianshangtop.png');
    text-align: center;
    padding-top: 80px;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.day-top {
    background: url('../img/jinrihuodongtop.png');
}

.up-top {
    background: url('../img/xianshangtop.png');
}

.category-top {
    background: url('../img/fenleitop.png');
}

.wenzhang-top {
    background: url('../img/wenzhangsixiangtop.png');
}

.huodong-top {
    background: url('../img/huodongsixiangtop.png');
}

.comon-header-top-inner>p {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}

.comon-header-top-inner>div {
    width: 728px;
    height: 74px;
    background: rgba(245, 245, 245, 0.6);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.comon-header-top-inner>div>p {
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 74px;
    user-select: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #e14c46 !important;
    border-color: #e14c46 !important;
}

.pagination>li>a,
.pagination>li>span {
    color: #333;
}

.searchPage-box .pagination>li>a:hover,
.searchPage-box .pagination>li>span:hover,
.searchPage-box .pagination>li>a:focus,
.searchPage-box .pagination>li>span:focus {
    color: #e14c46;
}


/* ie8 */

#isIe8 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 50000;
    top: 0;
    left: 0;
}

#isIe8>div {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

#isIe8>div>img {
    width: 250px;
    margin-bottom: 30px;
}

#isIe8>div>p {
    font-size: 16px;
    margin-bottom: 10px;
}

#isIe8>div>p>a {
    color: #e14c46;
}