/* 右边主体 */


/* 推荐活动  */

.content-right {
    float: left;
    margin-left: 57px;
}

.content-right-banner {
    position: relative;
}

.content-right-title {
    position: relative;
    line-height: 26px;
    font-size: 24px;
    padding-left: 36px;
}

.content-right-title-img {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url('../images/tuijian.png') no-repeat;
    background-size: 100%;
}

.content-right-banner-list {
    margin-top: 21px;
    width: 968px;
    overflow: hidden;
    position: relative;
    height: 256px;
}

.content-right-banner-list a {
    display: inline-block;
}

.content-right-banner-box {
    width: 2000px;
    height: 240px;
    position: absolute;
}


/* 列表子项样式 */

.content-right-list-item {
    width: 228px;
    height: 256px;
    float: left;
    background-color: #fff;
    margin-right: 14px;
    margin-bottom: 14px;
}

.content-list-item-img {
    width: 228px;
}

.content-list-item-img img {
    width: 100%;
    height: 126px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.content-common-text {
    margin: 10px 14px 0;
    font-size: 12px;
    color: #666666;
    line-height: 12px;
}

.content-list-item-title {
    height: 38px;
    margin-top: 14px;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-list-item-time-icon {
    background: url('../images/shijian_1.png') no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 11px;
    width: 11px;
    position: relative;
    top: 1px;
}

.content-list-item-addres-icon {
    background: url('../images/didian_1.png') no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 2px;
    position: relative;
    top: 1px;
}


/* 前进后退效果 */

.content-right-title-pre {
    position: absolute;
    left: -39px;
    top: 147px;
    width: 32px;
    height: 32px;
}

.content-right-title-pre span {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url('../images/zuo.png') center center no-repeat;
    background-size: 100%;
}

.content-right-title-next {
    position: absolute;
    right: -27px;
    top: 147px;
    width: 32px;
    height: 32px;
    z-index: 95;
}

.content-right-title-next span {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url('../images/you.png') center center no-repeat;
    background-size: 100%;
}

.content-right-title-pre:hover {
    background-color: pink;
    border-radius: 50%;
}

.content-right-title-next:hover {
    background-color: pink;
    border-radius: 50%;
}


/* 轮播进度条 */

.content-right-banner-progress {
    position: absolute;
    display: inline-block;
    width: 34px;
    height: 6px;
    z-index: 95;
    top: 0;
    right: 14px;
}

.banner-progress-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #D8D8D8;
    border-radius: 50%;
    /* margin-right: 6px; */
}

.banner-progress-item2 {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #D8D8D8;
    border-radius: 50%;
}

.banner-progress-active {
    display: inline-block;
    width: 20px;
    height: 6px;
    background-color: #C13939;
    border-radius: 10px;
}


/* 最新活动 */

.content-right-main {
    margin-top: 44px;
}

.content-right-main-title {
    min-height: 26px;
    font-size: 24px;
    color: #333333;
    line-height: 24px;
    position: relative;
    padding-left: 33px;
}

.content-right-main-title-img {
    display: inline-block;
    width: 26px;
    height: 27px;
    background: url('../images/zuixin.png') no-repeat;
    background-size: 100%;
}

.content-right-main-list {
    width: 968px;
    margin-top: 21px;
}

.content-right-main-list a {
    display: block;
}


/* hover效果 */

.content-right-list-item:hover {
    box-shadow: 0px 6px 10px -1px #c5cdda;
}


/* 分页器 */

.searchPage-box {
    margin-bottom: 124px;
    position: relative;
    text-align: right;
    padding-right: 9px;
}

.searchPage-box .pagination {
    margin: 16px 0;
    top: 0;
    right: 14px;
    min-width: 282px;
}

.searchPage-box .pagination>li {
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    border: 2px solid #C13939;
    margin: 0 5px;
}

.searchPage-box .pagination>li>a {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #C23C3C;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.searchPage-box .pagination>.active>a {
    color: #fff;
}

.searchPage-box .pagination>li>a {
    padding: 0 5px;
}

.searchPage-box .pagination>li:first-child>a,
.searchPage-box .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.searchPage-box .pagination .pagination-next {
    width: 75px;
}

.searchPage-box .pagination .pagination-next .pagination-next-cion {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../images/gengduo_hong.png') center center no-repeat;
    background-size: 100%;
    position: relative;
    top: 1px;
    left: -2px;
}

.searchPage-box .pagination .pagination-end {
    width: 54px;
}

.searchPage-box .pagination .pagination-common {
    font-size: 12px;
    color: #C13939;
    letter-spacing: 0;
    text-align: center;
}

.activenone span {
    width: 100%;
    min-height: 300px;
    line-height: 100px;
    text-align: center;
}

.activenone button {
    width: 100px;
    height: 40px;
    background-color: #C13939;
    border-radius: 10px;
    color: #D8D8D8;
}