.line-red {
    background: #C13939;
    height: 4px;
}

.page-main {
    max-width: 1400px;
    margin: 0 auto;
}

.time-main {
    height: 536px;
    background: #F9F9F9;
    padding-top: 80px;
    background: url('../images/bg_dahuishijian.png')no-repeat center;
    background-size: 100%;
}

.tip-main {
    padding: 0 140px;

}

.tip-main li:last-child {
    margin-right: 0;
}

.tip {
    float: left;
    margin-right: 128px;
    text-align: center;
    line-height: 60px;
    width: 184px;
    color: #333333;
    font-size: 28px;
    height: 72px;
    border-radius: 20px;
    background: url('../images/bg_shijian_mr.png')no-repeat center;
    background-size: 100% 100%;
}

.tip-active { 
    background: url('../images/bg_shijian_xz@2x.png') no-repeat center center;
    background-size: 219px 105px;
    color: #fff;
}

.timer-progress-bar {
    padding: 30px 222px;
}

.bar {
    width: 930px;
    height: 5px;
    background: rgba(172, 172, 172, 1);
}

.bar {
    position: relative;
}

.bar .spot {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 6px solid rgba(153, 153, 153, 1);
    position: absolute;
}

.bar .spot-active {
    border: 6px solid rgba(193, 57, 57, 1);
}

.bar .spot1 {
    position: absolute;
    left: 0;
    top: -10px;
}

.bar .spot2 {
    position: absolute;
    left: 34%;
    top: -10px;
}

.bar .spot3 {
    position: absolute;
    left: 68%;
    top: -10px;
}

.bar .spot4 {
    position: absolute;
    left: 100%;
    top: -10px;
}

.replace-img {
    position: relative;
}

.replace-img .img {
    position: absolute;
    left: 50%;
    margin-left: -488px;
}

.biaozi {
    background: url('../images/');
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.gaofeng {
    margin-top: 80px;
    margin-bottom: 80px;
}

.title .text {
    display: inline-block;
    width: 244px;
    height: 32px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #333333;
    background: url('../images/tb_biaoti_sizi.png')no-repeat center;
}


.plate {
    padding: 0 64px;
    height: 360px;
}

.plate-left {
    float: left;
    width: 640px;
    height: 360px;
    margin-right: 16px;
}

.left-img {
    position: absolute;
    left: 249px;
    top: 18px;
}

.left-img span {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 16px;
    margin-top: -20px;

}

.replace-title span {
    position: absolute;
    font-size: 34px;
    top: 10px;
    left: 0;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(193, 57, 57, 1);
    line-height: 38px;
}

.replace-title {
    position: absolute;
    left: 333px;
    width: 462px;
    top: 30px;
}

.replace-list {
    position: absolute;
    width: 560px;
    height: 120px;
    left: 327px;
    top: 110px;
}

.replace-list>div {
    float: left;
    margin-right: 24px;
}

.replace-list>ul {
    margin-top: 21px;
    float: left;
}

.replace-list>ul>li {
    margin-bottom: 10px;
    padding-left: 28px;
    position: relative;
}

.replace-list>ul>li i {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 2px;
    left: 0;
    background: url('../images/shijian_dahui.png')no-repeat center;
}

.replace-list>ul>li .jiudian_dahui {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 2px;
    left: 0;
    background: url('../images/jiudian_dahui.png')no-repeat center;
}

.replace-list>ul>li .didian_dahui {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 2px;
    left: 0;
    background: url('../images/didian_dahui.png')no-repeat center;
}

.replace-list>ul>li:last-child {
    margin-bottom: 0;
}

.zuhai {
    position: absolute;
    left: 902px;
    top: 145px;
}

.plate-right {
    float: left;
    width: 582px;
    height: 360px;
    padding: 31px 24px;
    background: rgba(249, 249, 249, 1);
    border: 1px solid rgba(236, 236, 236, 1);
}

.plate-right li .plate-active {
    color: #C13939 !important;
}

.plate-right li {
    padding-bottom: 16px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 16px;
}

.plate-right li div:first-child {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: 500;
    overflow: hidden;
    word-break: break-all;
    width: 535px;
}

.plate-right li div:last-child {
    font-size: 14px;
    color: #999999;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    width: 535px;
}

.plate-right li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;

}

.brief-introduction {
    /* padding-top: 80px; */
    background-size: 100%;
}

.conten-bg {
    background: url('../images/bg_dahuijianjie.png')no-repeat center;
    position: relative;
    padding-bottom: 30px;
}

.yuan1_dahuijianjie {
    position: absolute;
    left: 17px;
    top: 0;
}


.content {
    padding: 8px 253px 72px;
    color: #666666;
    font-size: 24px;
    text-indent: 2em;
    line-height: 38px;
}

.brief-list {
    padding: 0 78px;

}

.brief-main {
    height: 171px;
    margin-bottom: 80px;
}

.brief-list-item-title {
    position: relative;
    padding-left: 58px;
}

.brief-list-item-title .icon {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 8px;
    left: 0;
    background: #C13939;
    border-radius: 50%;
}

.brief-red {
    color: #C13939;

}



.brief-list-item-title .text {
    font-size: 20px;
}

.alter {
    font-size: 40px;
}

.brief-list>li {
    float: left;
    margin-right: 90px;
}

.brief-list-item>li {
    position: relative;
    padding-left: 10px;
}

.brief-list-item-title p {
    border-bottom: 1px solid #C13939;
}

.brief-list-item li i {
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgba(193, 57, 57, 1);
    border-radius: 50%;
    top: 8px;
    left: 0;
}

.brief-list-item ul {
    margin-top: 21px;
}

.brief-list-item ul li {
    position: relative;
    padding-left: 10px;
}

.brief-list li:last-child {
    margin-right: 0;
}

.brief-list-item li p {
    width: 318px;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 22px;
}

.sc-tab {
    padding: 0px 86px;
    margin-bottom: 20px;
}

.sc-tab>div {
    float: left;
    width: 614px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid rgba(222, 58, 38, 1);
    height: 100px;
    background: #fff;
    padding: 20px 0 32px 182px;
}

.sc-tab>div:last-child {
    border-radius: 0px 6px 6px 0px;
}

.sc-tab>div.active {
    background: linear-gradient(100deg, rgba(209, 32, 29, 1) 0%, rgba(225, 63, 39, 1) 100%);
    border: none;
}

.tab-item {
    margin: 0 auto;
    width: 1236px;
    padding: 20px;
    height: 324px;
    background: rgba(255, 252, 252, 1);
    border-radius: 6px;
    border: 1px solid rgba(223, 186, 186, 1);
}

.tab-item-th {
    border-bottom: 1px solid #DFBABA;
    padding-bottom: 26px;
}

.tab-item-th li {
    float: left;
    width: 308px;
    text-align: center;
    font-size: 24px;
    font-family: PingFang-SC-Bold, PingFang-SC;
    font-weight: bold;
    color: rgba(193, 57, 57, 1);
    line-height: 28px;
    position: relative;
}

.tab-item-th li:last-child {
    float: left;
    width: 534px;
    text-align: center;
    font-size: 24px;
    font-family: PingFang-SC-Bold, PingFang-SC;
    font-weight: bold;
    color: rgba(193, 57, 57, 1);
    line-height: 28px;
}

.tab-item-th li span {
    position: absolute;
    width: 1px;
    height: 40px;
    right: 0;
    background: rgba(223, 186, 186, 1);
}

.tab-item-td {
    margin-top: 16px;
}

.tab-item-td li {
    margin-bottom: 10px;
}

.tab-item-td li>div {
    float: left;
    width: 308px;
    font-size: 28px;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 44px;
    letter-spacing: 1px;
    text-align: center;
}

.tab-item-td li>div:nth-child(2) {
    font-size: 24px;
}

.tab-item-td li>div:last-child {
    float: left;
    font-size: 20px;
    width: 534px;
}

.bg_dahuijiabin{
    background: url('../images/bg_dahuijiabin.png');
}