.reg-banner {
    max-width: 1400px;
    height: 300px;
    margin: 0 auto;
    background: url('../images/banner_zhuce.png')no-repeat;
    background-size: 100%;
}

.reg-main {
    height: 782px;
    box-sizing: border-box;
    background: #fff;
}

.reg-main-content {
    max-width: 1366px;
    margin: 0 auto;
    padding: 64px 130px 0 261px;
}

.m-left {
    width: 400px;
    height: 100%;
    float: left;
    margin-right: 64px;
}

.m-left i {
    position: absolute;
    width: 158px;
    height: 62px;
    background: url('../images/biaoti_1_zhuce@2x.png')no-repeat center;
    background-size: 100% 100%;
    top: 25px;
    left: 30px;
}

.m-l-t {
    width: 258px;
    height: 153px;
    margin-bottom: 32px;
}

.m-l-b {
    width: 400px;
    height: 120px;
    margin-bottom: 4px;
    position: relative;
}

.m-left .m-l-b-img {
    width: 400px;
    height: 120px;
}

.m-left .m-l-b-img1 {
    width: 158px;
    height: 62px;
    background: url('../images/biaoti_1_zhuce@2x.png')no-repeat center;
}

.m-left .m-l-b-img2 {
    width: 158px;
    height: 62px;
    background: url('../images/biaoti_2_zhuce.png')no-repeat center;
}

.m-left .m-l-b-img3 {
    width: 158px;
    height: 62px;
    background: url('../images/biaoti_3_zhuce.png')no-repeat center;
}

.m-right {
    width: 380px;
    height: 100%;
    margin-top: 82px;
    float: left;
    position: relative;
}

.m-r-t {
    width: 380px;
    min-height: 320px;
    border-radius: 4px;
    border: 1px solid rgba(221, 221, 221, 1);
    box-sizing: border-box;
    position: relative;
    padding-bottom: 78px;
}

.m-r-title {
    min-height: 86px;
    background: rgba(249, 249, 249, 1);
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
    font-family: PingFangSC-Medium, PingFang SC;
    box-sizing: border-box;
}

.m-r-p0 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    line-height: 38px;
    color: rgba(102, 102, 102, 1);
}

.m-r-p1 {
    font-size: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.m-r-content {
    padding: 20px 30px 0px 30px;
    box-sizing: border-box;
}

.phone-div {
    overflow: hidden;
}

.phone {
    width: 218px;
    height: 44px;
    border: 2px solid rgba(221, 221, 221, 1);
    float: left;
    box-sizing: border-box;
    padding: 0 14px;
}

.slot-code {
    width: 100px;
    height: 44px;
    background: rgba(249, 249, 249, 1);
    border: 2px solid rgba(221, 221, 221, 1);
    float: right;
    box-sizing: border-box;
    border-left: 0;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    cursor: pointer;
    margin-bottom: 20px;
}

.code-div {
    width: 320px;
    /* height: 44px; */
    overflow: hidden;
}

.code {
    width: 320px;
    height: 44px;
    border: 2px solid rgba(221, 221, 221, 1);
    padding: 0 14px;
}

.button-div {
    width: 100px;
    height: 44px;
    background: linear-gradient(90deg, rgba(209, 32, 29, 1) 0%, rgba(225, 63, 39, 1) 100%);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 44px;

}

.phone-tip,
.code-tip {
    font-size: 12px;
    font-weight: 400;
    color: rgba(224, 44, 32, 1);
    float: left;
    margin: 10px 0px;
    display: none;
}

.pager {
    padding: 0 5px;
    position: absolute;
    top: -58px;
}

.pager-bar {
    width: 364px;
    height: 1px;
    background: #DDDDDD;
    position: relative;
}

.pager-bar span {
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    top: -22px;
    text-align: center;
    background: #fff url('../images/quan_wxz.png')no-repeat;
}

.pager-bar span:nth-child(1) {
    left: 0;
}

.pager-bar span:nth-child(2) {
    left: 44%;
}

.pager-bar span:nth-child(3) {
    right: 0;
}

.pager-bar .pager-bar-active {
    background: #fff url('../images/quan_xuanzhong.png')no-repeat;
    color: #fff;
}

.m-r-content>div {
    margin-bottom: 14px;
}

.m-r-content .btn-bottom {
    position: absolute;
    padding-top: 17px;
    padding-right: 30px;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    width: 377px;
    height: 78px;
    text-align: right;
    background: rgba(249, 249, 249, 1);
}